<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/visitors</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">adminadmin</property>
    
    <property name="hibernate.hbm2ddl.auto">create</property>
    
    
    <mapping class="com.opgea.visitors.domain.entities.Country"/>
    <mapping class="com.opgea.visitors.domain.entities.City"/>
    <mapping class="com.opgea.visitors.domain.entities.Company"/>
    <mapping class="com.opgea.visitors.domain.entities.Department"/>
    <mapping class="com.opgea.visitors.domain.entities.Designation"/>
    <mapping class="com.opgea.visitors.domain.entities.Employee"/>
    <mapping class="com.opgea.visitors.domain.entities.Login"/>
    <mapping class="com.opgea.visitors.domain.entities.WorkStation"/>
    <mapping class="com.opgea.visitors.domain.entities.Visitor"/>
  </session-factory>
</hibernate-configuration>
